@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Explora&family=Lobster&family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 450px;
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
  margin-left: auto;
  margin-right: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #ffffff;
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #ffffff;
}

.message,
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline rgb(255, 255, 255);
}

.signin a {
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
}

.flex {
  display: flex;
  width: 100%;
  gap: 18px;
}
.flex-box {
  display: flex;
  width: 100%;
  gap: 18px;
}
.form label {
  position: relative;
}

.form label .input {
  background-color: #333;
  color: #fff;
  width: 100%;
  max-width: 430px;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input:focus + span,
.form label .input:valid + span {
  color: #ffffff;
  top: 0px;
  font-size: 0.7em;
  font-weight: 300;
}

.input {
  font-size: medium;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  background-color: #313131;
  font-family: "Poppins", sans-serif;
  transition: 0.4s;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.submit:hover {
  background-color: #ffffff;
  color: #000;
  transition: 0.4s;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
.locationLabel {
  max-width: 120px !important;
}
.UsersName {
  max-width: 200px !important;
}
@media (max-width: 500px) {
  .form {
    padding: 20px 35px 20px 20px;
  }
  .flex {
    flex-direction: column;
    gap: 10px;
  }
  .flex-box {
    flex-direction: column;
    gap: 10px;
  }
  .locationLabel {
    max-width: 430px !important;
  }
  .UsersName {
    max-width: 430px !important;
  }
  .submit {
    width: 150px;
  }
}
